<h1>Your list</h1>

<% if @attendances.empty? %>
  <div>Nothing in your list.</div>
<% else %>
  <table>

  <thead>
    <tr>
      <td>Title</td>
      <td>Date</td>
      <td>Notes</td>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.production.title%></td> 
        <td><%= attendance.date.strftime("%B %d, %Y") %></td>
        <td><%= attendance.notes %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>

<h2>Add to your list!</h2>

<%= form_for @attendance do |f| %>
  <%= f.hidden_field :user_id, value: @attendance.user_id %>

  <%= f.fields_for :production do |production_form| %>
    <p>
      <%= production_form.label :title %>
      <%= production_form.text_field :title %>
    </p>
  <% end %>

  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>

   <p>
    <%= f.submit 'Add!' %>
  </p>
<% end %>